/*-- scss:defaults --*/

$body-bg: #fff !default;
$body-color: #4f4e4e !default;
$link-color: #ee9040 !default;
$font-family-sans-serif: arial, "open sans", "helvetica neue", helvetica, sans-serif !default;
$mermaid-font-family: arial;
/*-- scss:rules --*/